.container
{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    background-color: #242836;
}
.flexcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 570px;
    width: 100%;
    /* background-color: aquas */
}
.flexelement
{   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 38%;   
    margin-top: 1%;
    /* margin-bottom: 30px; */
    /* background-color: rgb(217, 255, 0); */

}
.inputboxx{
    height: 500px;
    width: 550px;
    background-color: #242836;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #00BADD;
    vertical-align: top;
    word-wrap: break-word;
    outline: none;
    overflow: auto; /* Add this line */
    resize: none; 
}

.submitbutton{
    background-color: #00BADD;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #242836;
    height: 34px;
    width: 200px;
}

.submitplacement{
    /* background-color: aqua; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body{
    /* background-color: purple; */
    background-color: #242836;
}